# 2c. Satellite featurizations part 3 -- Satellite-related figures and tables

In [6]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap

### Table S1: Summary of datasets

In [7]:
TILES_FOLDER = '/data/mosaiks/replication/sampled_tiles/'

In [8]:
table = []

for country in ['mexico', 'dhs/colombia', 'dhs/honduras', 'dhs/indonesia', 'dhs/kenya', 'dhs/nigeria', 
                'dhs/peru','dhs/philippines']:
    meta = pd.read_csv(TILES_FOLDER + country + '/meta.csv')
    if country == 'mexico':
        survey = pd.read_csv('/data/mosaiks/surveys/' + country + '/grouped.csv')
    else:
        survey = pd.read_csv('/data/mosaiks/surveys/' + country + '_grouped.csv')
    table.append([country, len(survey), '%.2f' % (100*survey['rural'].mean()), meta['count'].min(), 
                  '%.2f' % meta['count'].mean(), meta['count'].max()])
table = pd.DataFrame(table)
table.columns = ['Country', 'Regions', '% Rural', 'Min. Tiles', 'Mean Tiles', 'Max Tiles']
table

           Country  Regions % Rural  Min. Tiles Mean Tiles  Max Tiles
0           mexico     2446   56.09           6      89.32        100
1     dhs/colombia     4868   30.14          16      51.57         88
2     dhs/honduras     1128   56.21          16      57.93         86
3    dhs/indonesia     1319   57.77          16      57.58         87
4        dhs/kenya     1585   61.20          16      60.17         86
5      dhs/nigeria     1382   58.76          16      56.08         86
6         dhs/peru     1131   38.82          16      46.97         85
7  dhs/philippines     1213   63.97          16      61.87         88

### Figure S1

In [ ]:
# Esther TODO

### Figure S2

In [24]:
# Esther TODO